GOOGLE_CLOUD_PROJECT_ID=project_id
GOOGLE_CLOUD_REGION=us-central1
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n", ...}